
.Filters {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: var(--space3);
}

.Filters .filter {
    padding: var(--space3);
}

.horiz-check {
    display: flex;
}

.range-slider {
    padding: var(--space4) var(--space2);
}