
.Filters {
    margin: 0 0 var(--space3);
    padding: var(--space3);
}

.Filters h3 {
    text-transform: uppercase;
}

.Filters .filter {
    padding: var(--space3);
}

.Filters .filter .filter-content.columns {

}

.Filters .filter .filter-content ul {

}
