
header {
    align-items: center;
    display: flex;
    padding: var(--space1);
}

header .primary {
    flex: 1 1 auto;
}

header .github-link {
    background: var(--darkblue);
    border-radius: .3em;
    color: var(--white);
    font-size: .8rem;
    font-weight: bolder;
    margin: var(--space2);
    padding: 2px var(--space1);
    text-decoration: none;
    text-transform: uppercase;
}

header .github-link:hover {
    background: var(--blue);
}
